table {
    width: 100%;
}

.customerInfo_ {
    cursor: pointer;
}

.customerInfo_:hover {
    cursor: pointer;
    color: #4153AF;
    text-decoration: underline;
}

.mat-dialog-container {
    border: 10px solid black;
    background-color: red;
}