<mat-card>
    <mat-card-content>
        <mat-tab-group class="demo-tab-group">
            <mat-tab label="Customers">
                <div class="demo-tab-content">
                    <app-customers-table [customers]="customers"></app-customers-table>     
                </div>
            </mat-tab>
            <mat-tab label="Companies">
                <div class="demo-tab-content">
                    <app-companies-table [companies]="companies"></app-companies-table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>