<mat-card>
    <mat-card-content>
        <!-- <h2 class="example-h2">Tabs with text labels</h2> -->
        <mat-tab-group class="demo-tab-group">
            <mat-tab label="Customers">
                <div class="demo-tab-content">
                    <app-table></app-table>
                </div>
            </mat-tab>
            <mat-tab label="Companies">
                <div class="demo-tab-content">
                    <app-table></app-table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>