<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{data.firstName}} {{data.lastName}}</span>
        <span class="example-spacer"></span>
        <mat-icon>edit</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<div class="dialog-content_">
    <mat-dialog-content>
        <h4>Id</h4>
        <p>{{data.customer_id}}</p>
        <h4>Full Name</h4>
        <p>{{data.firstName}} {{data.lastName}}</p>
        <h4>Company</h4>
        <p>{{data.company}}</p>
        <h4>Phone</h4>
        <p>{{data.phone}}</p>
        <h4>Email</h4>
        <p>{{data.email}}</p>

        <button title="show comments" mat-raised-button (click)="showComments(data.customer_id)"
            color="primary">Comments</button>

        <ul *ngIf="arrComments.length > 0">
            <h3>Customer Comments</h3>
            <li *ngFor="let comment of arrComments">
                <span>{{comment.creationDate}}</span>
                <span>{{comment.text}}</span>
            </li>
        </ul>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>No</button>
        <button mat-button [mat-dialog-close]="true">Yes</button>
    </mat-dialog-actions>
</div>





<!-- id: number; firstName: string; lastName: string; company: string; phone:
string; email: string; -->